p {
    color: rgb(55, 0, 184);
    width: 50px;
    margin: 5px auto;
    text-align: center;
    border: 1px solid black;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}
html{
    background-color: #00539f;
}
img {
    display: block;
    margin: 0 auto;
}
#ig {
    width: 200px;
    height: 100px;
}